.back-link {
  font-family: "LemonMilklight";
  color: hsla(278, 62%, 82%, 0.91);
  position: absolute;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: left;
  /* left: auto; */
}

.back-link:hover {
  color: #36E3EE;
  /* box-shadow: inset 0 0 100px 100px; */
}

.glow3 {
  -webkit-animation: glow3 5s ease-in-out infinite alternate;
  -moz-animation: glow3 5s ease-in-out infinite alternate;
  animation: glow3 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow3 {
  from {
    text-shadow: 0 0 2px #DFE2A6, 0 0 2.5px #DFE2A6, 0 0 3px #DFE2A6, 0 0 3.5px #DFE2A6, 0 0 4px #DFE2A6, 0 0 4.5px #DFE2A6, 0 0 5px #DFE2A6;
  }
  to {
    text-shadow: 0 0 0px #D9A6E2,  0 0 .5px #D9A6E2, 0 0 .75px   #D9A6E2, 0 0 .1px #D9A6E2, 0 0 1.25px #D9A6E2, 0 0 1.5px   #DFE2A6, 0 0 1.75px #DFE2A6;
  }
}

.Chats .snow canvas {
  height: 100vh !important;
  background-image: url('../images/MilkyWay.jpeg');
  background-size: cover;
}

.Chats .chats-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.chat-header {
  font-family: 'Codystar';
  color: #FFFFFF;
  /* font-size: 38px; */
  font-size: calc(1.25em + 1.45vw);
  opacity: 0.7;
  transition: all 0.3s ease-in;
  margin-left: 10vw;
  margin-top: 4vh;
  margin-bottom: .5vh
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: transparent;
}

#App-title {
  font-family: 'Codystar Reg', cursive;
  color: white;
  font-size: calc(1em + 7.5vw);
  transition: all 0.3s ease-in;
  text-decoration:none;
}

.App-title:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px rgb(7, 169, 185);
}

.accepted-user-chat {
  color: white;
  background-color: transparent;
  background: transparent;
  border: none;
  border-radius: 15px;
  font-family: 'LOVES' !important;
  font-weight: bolder;
  /* text-decoration: underline; */
  /* text-decoration-color: #000000; */
  font-size: 30px;
  font-weight: bolder;
  opacity: 0.85;
  margin: 0 auto;
  padding-left: 15px;
  text-align: left;
  /* display: flex;
  justify-content: space-between; */
  color: #EAEBF9;
  text-shadow: 2px 2px 4px #c199d9;
}

.accepted-user-chat :hover {
  font-weight: 900;
  /* font-size: 32px; */
  padding: 0px;
  border-radius: 15px;
  color: #000000;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 2px 2px 4px #c199d9;
}

.hover-name :hover {
  font-size: 32px;
}

.sun-color {
  color: #140f4f;
  text-shadow: 2px 2px 4px #0cb5eb;
  font-size: 28px;
  vertical-align: middle;
}

.chat-sign {
  font-size: 18px;
  vertical-align: middle;
}

.chat-sign :hover {
  font-size: 20px;
  vertical-align: middle;
}

.chat-with {
  color: #FFFFFF;
  font-family: "WhiteAngelicaRegular";
}

.convos-area {
  /* max-height: 450px;
  max-width: 700px;
  height: auto;
  width: auto; */
  min-height: 200px;
  display: inline;
}

.convo-display {
  overflow-y: scroll;
  list-style: none;
  margin-top: 1vh;
  max-height: 450px;
  max-width: 95vw;
  min-height: 100px;
  min-width: 65vw;
  width: 800px;
  padding-right: 10px;
}

.convo-display::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.convo-display::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(149, 152, 195, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
}


.current-user-response {
  color: #FFFFFF;
  font-family: "Adam";
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-shadow: 2px 2px #231F4D;
  text-align: right;
}

.current-user-color {
  background-color: rgba(148, 176, 224, 0.51);
  border-radius: 15px;
  padding: 2px 5px 2px 5px;
  margin: auto;
}

.receiver-response {
  color: #FFFFFF;
  font-family: "Adam";
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-shadow: 2px 2px #231F4D;
  text-align: left;
}

.receiver-color {
  background: rgba(121, 246, 193, 0.33);
  border-radius: 15px;
  padding: 2px 5px 2px 5px;
  margin: auto;
}

.new-convo-form {
  /* display: inline-flex; */
  background: transparent;
  background-color: transparent;
  border-radius: 15px;
  color: #FFFFFF;
  /* max-height: 75%; */
  /* min-height: 25%; */
  max-width: 95vw;
  min-width: 65vw;
  height: 50px;
  width: 800px;
  margin-top: 2vh;
}

.new-convo {
  color: #FFFFFF;
  font-family: "Adam";
  font-size: calc(1em + 1vh);
  letter-spacing: 3px;
  font-weight: 900;
  text-shadow: 4px 4px 6px #0cb5eb;
  border-radius: 10px !important;
  border: 1px solid rgba(149, 152, 195, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
}

.send-chat-button {
  border-radius: 15px;
  background: transparent;
  border-color: transparent;
  color: #FFFFFF;
  font-size: calc(.75em + 1vw);
  float: right;
  opacity: 0.4;
  /* margin: 5px 10px 0px 0px; */
  margin: 2px auto;
}
