/* .App-link {
  color: #61dafb;
} */

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* html {
  background-color: black;
} */

body {
  background-color: black;
}

.App {
  text-align: center;
  border-style: solid;
  border-color: #0c4357;
  background-color: #000208;
  /* border-width: 5px; */
  /* margins: 10px; */
}

.App-header {
  /* background-color: #000208; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-family: 'Codystar', cursive;
  font-size: 50px;
}

.App-image {
  /* height: 20em; */
  height: 15em;
}


/* from index.css
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
