/* html {
  background: #231F4D
} */

@font-face {
  font-family: 'Adam';
  src: local('Adam'), url(../fonts/Adam.otf) format('woff');
}
@font-face {
  font-family: 'Code Light';
  src: local('Code Light'), url(../fonts/CODE-Light.otf) format('woff');
}
@font-face {
  font-family: 'Codystar Light';
  src: local('Codystar Light'), url(../fonts/codystar-light.ttf) format('woff');
}
@font-face {
  font-family: 'Codystar Reg';
  src: local('Codystar Reg'), url(../fonts/codystar-regular.ttf) format('woff');
}
@font-face {
  font-family: 'Datalegreya Thin';
  src: local('Datalegreya Thin'), url(../fonts/Datalegreya-Thin.otf) format('woff');
}
@font-face {
  font-family: 'Geosans Light';
  src: local('Geosans Light'), url(../fonts/GeosansLight.ttf) format('woff');
}
@font-face {
  font-family: 'Lemon/Milk Light';
  src: local('Lemon/Milk Light'), url(../fonts/LemonMilklight.otf) format('woff');
}
@font-face {
  font-family: 'Loves';
  src: local('Loves'), url(../fonts/LOVES.ttf) format('woff');
}
@font-face {
  font-family: 'Prequel Regular';
  src: local('Prequel Regular'), url(../fonts/PrequelDEMO-Regular.ttf) format('woff');
}
@font-face {
  font-family: 'Undella';
  src: local('Undella'), url(../fonts/Undella.otf) format('woff');
}
@font-face {
  font-family: 'White Angelica';
  src: local('White Angelica'), url(../fonts/WhiteAngelica.ttf) format('woff');
}

.App {
  text-align: center;
  display: inline-block;
  border-style: invisible;
  backgroun-color: transparent;
  position: absolute;
  /* animation-duration: 3s;
  animation-name: slidein; */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: transparent;
}

#App-title {
  font-family: 'Codystar Reg', cursive;
  color: white;
  /* font-size: 8.5vw; */
  font-size: 9vw;
  /* height: 15vh; */
  /* background-color: transparent; */
  /* text-shadow: 4px 4px 6px #95b6bb; */
  /* min-height: 100vh; */
  transition: all 0.3s ease-in;
  text-decoration:none;
}

.App-title:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px rgb(7, 169, 185);
}

.App-link {
  font-family: 'Adam';
  font-weight: bolder;
  font-size: 2.5vw;
  color: #ffffff;
  opacity: 0.65;
  /* line-height: 15px;  */
  /* line-height: 4px +12px + 4px; */
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.App-link:hover {
  opacity: 0.75;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px yellow;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
