body {
  background-color: #EAEBF9;
}

.form-link {
  font-family: "LemonMilklight";
  color: #27116B;
  margin-left: 10px;
  /* position:absolute;
  top:-20;
  left:-20; */
}

.form-link:hover {
  color: #0599E2;
}

.form-container {
  /* background-color: ##EAEBF9; */
  /* position: relative; */
  font-family: "Avenir Next" !important;
  font-size: 22px;
  color: #27116B;
  padding-left: 5vw;
  padding-right: 5vw;
  /* padding-top: 5vh;
  padding-bottom: 5vh; */
  margin: auto;
  max-width: 95vw;
  min-width: 65vw;
  max-height: 75%;
  min-height: 25%;
}

.form-header {
  font-family: 'Times New Roman';
  font-size: 50px;
  color: #27116B;
  background-color: #EAEBF9;
  display: flex;
}

.signupHeader {
  /* height: 10vh; */
}

.form {
  background-color: #EAEBF9;
  color: #27116B;
  width: inherit;
  height: inherit;
  /* width: 95%; */
  /* height: 75%; */
  /* max-width: 100vw; */
  /* max-height: 100vh; */
  overflow: scroll;
}

.form-label {
  width: 70%;
  margin: auto;
}

.form .input {
  background-color: white !important;
  /* font-family: "Roboto 2.0", sans-serif; */
  border-style: solid;
  border-color: #27116B;
  color: #27116B;
  /* width: 80%; */
  padding: 12px 20px;
  margin: 8px 0;
  width: auto;
  height: auto;
  /* text-align: center; */
  /* box-sizing: border-box; */
  /* border-width: 5px; */
  /* margin-left: 5em; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margins: 10px; */
}

.input {
  width: 10%;
  height: 2%
}

.selected {
  border-style: solid;
  border-color: #27116B !important;
  box-sizing: border-box;
  /* color: #27116B; */
}

.input-field {
  font-family: "Roboto 2.0", sans-serif !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  width: 70%;
}

.submit-button {
  background-color: #E0E0E0;
  border-radius: 25px;
  /* font-family: 'EuphemiaUCAS', sans-serfif !important; */
  font-family: "Avenir Next" !important;
  font-size: 2vw;
  max-height: 6vh;
  min-height: 2vh;
  /* margin: auto; */
  color: #EAEBF9;
  text-shadow: -1px 1px #27116B, -.25px -.25px #27116B;
   /* 1px 0 #27116B, 0 -1px #27116B; */
  /* margin-top: 1em; */
  display: inline-flex;
}

.delete-button {
  background-color: #E0E0E0;
  border-radius: 25px;
  font-family: 'EuphemiaUCAS', sans-serfif !important;
  font-size: 20px;
  color: #EAEBF9;
  text-shadow: -1px 0 #27116B, 0 1px #27116B, 1px 0 #27116B, 0 -1px #27116B;
  margin-top: -28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30em;
}
