/* .form {
  background-color: #EAEBF9;
  display: flex;
  color: #27116B;
} */

.custom-form {
  background-color: #EAEBF9;
  display: flex;
  color: #27116B;
}

.form-label .input-field input:focus {
  background-color: white !important;
  color: #27116B;
  width: 100%;
  /* width: 120%; */
}

.form-label .input-field input:focus {
  border-bottom: 1px solid #27116B !important;
  box-shadow: 0 1px 0 0 #27116B !important
}

.input-field input:focus + label {
  color: #27116B !important;
}

.input {
  background-color: white !important;
}
