 /* .Landing-component {
  background: url("https://images.pexels.com/photos/957061/milky-way-starry-sky-night-sky-star-957061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background: no-repeat center center fixed;
  background-size: cover;
} */

/* .Landing {
  width: 100%;
  height: 100vh;
} */

body {
  overflow: hidden;
}

.landing .App-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: transparent; */
  /* background-image: url('../images/Star.png'); */
  /* background-repeat: repeat-y; */
}

.landing .particle canvas {
  height: 100vh !important;
  background-image: url('../images/Star.png');
  background-size: cover;
}


.glow1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow1 5s ease-in-out infinite alternate;
  -moz-animation: glow1 5s ease-in-out infinite alternate;
  animation: glow1 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow1 {
  from {
    text-shadow: 0 0 40px #fff, 0 0 50px #1f5da6, 0 0 60px #1f5da6, 0 0 70px #1f5da6, 0 0 80px #1f5da6, 0 0 90px #1f5da6, 0 0 100px #1f5da6;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 2px #fff, 0 0 4px   #5b6dbb, 0 0 6px #5b6dbb, 0 0 8px #5b6dbb, 0 0 10px   #5b6dbb, 0 0 12px #5b6dbb;
  }
}

/* @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */
