.login-container {
  border-color: #36e3ee;
  border-style: double;
  /* background-color: #282c34; */
  padding: 80px;
}

.login-header {
  font-family: 'Times New Roman';
  font-size: 50px;
  color: #65297a
}

.login-form {
  border-color: #ee4136;
  border-style: double;
  background-color: #282c34;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}
.input-field {
  text-align: center;
  border-style: solid;
  border-color: #7e33a6;
  /* border-width: 5px; */
  /* margins: 10px; */
}

.submit-button {
  background-color: #282c34;
  font-size: 12px;
  color: white;
}
