body {
  background-color: black;
}

.login-container {
  border-color: #36e3ee;
  border-style: double;
  background-color: #000208;
  padding: 80px;
  color: white;
}

.login-header {
  font-family: 'Times New Roman';
  font-size: 50px;
  color: #65297a;
  background-color: #000208;
}

.login-form {
  border-color: #7e33a6;
  border-style: ridge;
  background-color: #000208;
  display: flex;
  color: white;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}
.input-field {
  background-color: #000208;
  border-style: solid;
  /* border-color: #7e33a6;
  text-align: center; */
  color: white;
  /* border-width: 5px; */
  /* margins: 10px; */
}

.submit-button {
  background-color: #000208;
  font-size: 12px;
  /* color: white; */
}
