.prof-container {
  background-color: #231F4D;
  /* margin: auto; */
  padding: 10px;
  /* padding: 40px; */
  border-color: none;
  border-width: 1px;
  border-style: double;
  width: 100%;
  height: 100vh;
}

.prof-link {
  font-family: "Avenir Next Condensed";
  color: #EAEBF9;
  /* color: hsla(278, 62%, 82%, 0.91); */
  margin-left: 10px;
}

.prof-link:hover {
  color: #36e3ee;
  /* box-shadow: inset 0 0 100px 100px; */
}

.prof-card {
  background-color: transparent;
  color: #f4faf9;
  text-align: center;
  border: groove;
  /* position: absolute; */
}

#prof-name {
  background-color: #231F4D;
  text-align: center;
  font-family: 'Cardo', serif;
  font-style: bold;
  font-size: 34px;
  transition: all 0.3s ease-in;
  text-decoration:none;
}

.prof-name:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 2px 2px 20px red;

}

.prof-sun {
  background-color: #231F4D;
  text-align: center;
  font-family: 'Herculanum' !important;
  font-style: bold;
  font-size: 28px;
}

.prof-photo {
  background-color: #231F4D;
  border-color: #8ee8b2;
  border-style: ridge;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  /* border-width: 5px; */
}


.prof-name-detail {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  margin-top: 2px;
  padding: 10px;
  /* class: btn tooltipped;
  data-position: right */
}

.prof-sun-detail {
  background-color: #231F4D;
  border-color: #d78daf;
  border-style: inset;
  /* text-align: center; */
  /* float: left;
  width: 300px;
  padding: 10px; */
  position: absolute;
  left: 0px;
  width: 300px;
  border: 3px solid #d78daf;
  padding: 10px;
}

/* .tooltipped {

} */

.matches-header {
  font-family: 'Cardo', serif;
  font-style: bold;
  font-size: 44px;
}


#matched-users {
  /* background-color: #231F4D; */
  border-color: #8b5fd2;
  border-style: dotted solid;
  font-family: "Avenir Next Condensed";
  font-color: #f4faf9;

}

.accept {
  /* background: url('../images/check_mark_1.png'); */
  /* background:url(../images/check_mark_1.png) no-repeat; */
  /* background-reapeat: no-repeat; */
  /* color: white;
  cursor:pointer;
  border:none;
  width:40px;
  height:40px; */
  padding-right:3px;
  padding-top: 3px;
  display:inline-block;
}

.accept:active {
  /* background: url('../images/check_mark_1.png'); */
  /* background:url(../images/check_mark_1.png) no-repeat; */
  /* background-reapeat: no-repeat; */
}

.decline {
  /* background-image: url('../images/x_mark_1.png') no-repeat; */
  /* background:url(../images/x_mark_1.png) no-repeat; */
  /* background-reapeat: no-repeat; */
  /* cursor:pointer;
  border:none;
  width:20px;
  height:20px; */
  padding-right:3px;
  padding-top: 3px;
  display:inline-block;
}

.decline:active {
  /* background-image: url('../images/x_mark_1.png') no-repeat; */
  /* background:url(../images/x_mark_1.png) no-repeat; */
  /* background-reapeat: no-repeat; */
}
