/* .App-link {
  color: #61dafb;
} */

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  text-align: center;
  border-style: solid;
  border-color: #0c4357;
  /* border-width: 5px; */
  /* margins: 10px; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-family: 'Codystar', cursive;
  font-size: 50px;
}

.App-image {
  height: 20em;
}
